[submodule "_vim/plugged/MatchTagAlways"]
	path = _vim/plugged/MatchTagAlways
	url = https://git::@github.com/Valloric/MatchTagAlways.git
[submodule "_vim/plugged/syntastic"]
	path = _vim/plugged/syntastic
	url = https://git::@github.com/scrooloose/syntastic.git
[submodule "_vim/plugged/tagbar"]
	path = _vim/plugged/tagbar
	url = https://git::@github.com/majutsushi/tagbar.git
[submodule "_vim/plugged/LeaderF"]
	path = _vim/plugged/LeaderF
	url = https://git::@github.com/Yggdroot/LeaderF.git
[submodule "_vim/plugged/nerdcommenter"]
	path = _vim/plugged/nerdcommenter
	url = https://git::@github.com/scrooloose/nerdcommenter.git
[submodule "_vim/plugged/nerdtree"]
	path = _vim/plugged/nerdtree
	url = https://git::@github.com/scrooloose/nerdtree.git
[submodule "_vim/plugged/vim-airline"]
	path = _vim/plugged/vim-airline
	url = https://github.com/bling/vim-airline
